absl-py==2.1.0
aioice==0.9.0
aiortc==1.9.0
altair==5.4.1
annotated-types==0.6.0
anyio==4.1.0
asgiref==3.7.2
asttokens==2.4.1
astunparse==1.6.3
attrs==24.2.0
audioread==3.0.1
av==12.3.0
blinker==1.8.2
cachetools==5.5.0
certifi==2023.11.17
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comm==0.2.2
contourpy==1.2.1
cryptography==43.0.3
cycler==0.12.1
debugpy==1.8.2
decorator==4.4.2
distlib==0.3.8
distro==1.8.0
dnspython==2.7.0
executing==2.0.1
filelock==3.13.4
Flask==3.0.3
Flask-Mail==0.9.1
flatbuffers==24.3.25
fonttools==4.51.0
fsspec==2024.6.1
gast==0.6.0
gitdb==4.0.11
GitPython==3.1.43
google-ai-generativelanguage==0.6.10
google-api-core==2.21.0
google-api-python-client==2.149.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-crc32c==1.6.0
google-generativeai==0.8.3
google-pasta==0.2.0
googleapis-common-protos==1.65.0
grpcio==1.66.2
grpcio-status==1.66.2
h11==0.14.0
h5py==3.12.1
httpcore==1.0.2
httplib2==0.22.0
httpx==0.25.2
huggingface-hub==0.23.5
idna==3.6
ifaddr==0.2.0
imageio==2.36.0
imageio-ffmpeg==0.5.1
intel-openmp==2021.4.0
ipykernel==6.29.5
ipython==8.26.0
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.2
jupyter_core==5.7.2
keras==3.6.0
kiwisolver==1.4.5
lazy_loader==0.4
libclang==18.1.1
librosa==0.10.2.post1
llvmlite==0.43.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.0
matplotlib-inline==0.1.7
mdurl==0.1.2
mkl==2021.4.0
ml-dtypes==0.4.1
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.1.0
namex==0.0.8
narwhals==1.9.2
nest-asyncio==1.6.0
networkx==3.3
nltk==3.8.1
numba==0.60.0
numpy==1.26.4
openai==1.4.0
opencv-python-headless==4.10.0.84
opt_einsum==3.4.0
optree==0.13.0
packaging==24.0
pandas==2.2.2
parso==0.8.4
pathlib==1.0.1
pillow==10.3.0
platformdirs==4.2.0
pooch==1.8.2
proglog==0.1.10
prompt_toolkit==3.0.47
proto-plus==1.24.0
protobuf==5.28.2
psutil==6.0.0
pure_eval==0.2.3
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==2.5.2
pydantic_core==2.14.5
pydeck==0.9.1
pyee==12.0.0
Pygments==2.18.0
pylibsrtp==0.10.0
pymongo==3.12.3
pyOpenSSL==24.2.1
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
pywin32==308
PyYAML==6.0.1
pyzmq==26.0.3
referencing==0.35.1
regex==2024.5.15
requests==2.32.3
rich==13.9.2
rpds-py==0.20.0
rsa==4.9
safetensors==0.4.3
scikit-learn==1.3.2
scipy==1.13.0
seaborn==0.13.2
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
soundfile==0.12.1
soxr==0.5.0.post1
SpeechRecognition==3.11.0
stack-data==0.6.3
streamlit==1.39.0
streamlit-webrtc==0.47.9
sympy==1.13.0
tbb==2021.13.0
tenacity==9.0.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow_intel==2.18.0
termcolor==2.5.0
threadpoolctl==3.5.0
tokenizers==0.19.1
toml==0.10.2
torch==2.3.1
tornado==6.4.1
tqdm==4.66.1
traitlets==5.14.3
transformers==4.42.4
typing_extensions==4.12.2
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.2.2
virtualenv==20.25.1
watchdog==5.0.3
wcwidth==0.2.13
Werkzeug==3.0.2
wrapt==1.16.0
xgboost==2.1.1
youtube-transcript-api==0.6.2
